body{
    
}

#principal{
   /* border: 1px solid red; */
    width: 920px;
    margin: 0 auto;
    height: 600px;
}

#conteudo{
    /* border: 1px solid blue; */
    width: 600px;
    float: left;
}

#conteudo-lateral{
    /* border: 1px solid orange; */
    width: 300px;
    float: right;
}

#conteudo-lateral>div{
    border: 1px solid #e5e5e5;
    padding: 8px;
    margin: 2px 8px;
}

#rodape{
    width: 920px;
    margin: 0 auto;
    color: black;
    background-color: gray;
}